<div class="min-h-screen w-full flex items-center justify-center">
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()"
        class="flex flex-col w-80 gap-4 p-5 login-container shadow-2xl">

        <h1 class="text-center text-2xl font-semibold pb-4">Create Account</h1>

        <div class="credentials-control-group flex flex-col gap-6">

            <div class="flex gap-3">
                <p-floatlabel class="flex-1">
                    <input type="text" id="firstName" class="w-full" autocomplete="given-name"
                        formControlName="firstName" pInputText />
                    <label for="firstName">First Name</label>
                </p-floatlabel>
                <p-floatlabel class="flex-1">
                    <input type="text" id="lastName" class="w-full" autocomplete="family-name"
                        formControlName="lastName" pInputText />
                    <label for="lastName">Last Name</label>
                </p-floatlabel>
            </div>

            <p-floatlabel>
                <input type="text" id="userName" class="w-full" autocomplete="username" formControlName="userName"
                    pInputText />
                <label for="userName">Username</label>
            </p-floatlabel>
            <p-floatlabel>
                <input type="email" id="email" class="w-full" autocomplete="email" formControlName="email" pInputText />
                <label for="email">Email</label>
            </p-floatlabel>
            <p-floatlabel>
                <p-password id="password" formControlName="password" [toggleMask]="true" [fluid]="true">
                </p-password>
                <label for="password">Password</label>
            </p-floatlabel>

            <p-floatlabel>
                <p-password id="confirmPassword" formControlName="confirmPassword" [toggleMask]="true" [fluid]="true"
                    [feedback]="false">
                </p-password>
                <label for="confirmPassword">Confirm Password</label>
            </p-floatlabel>
        </div>

        <div class="flex flex-col gap-4 mt-2">
            <button pButton type="submit" [disabled]="registerForm.invalid">
                Create Account
            </button>
            <p class=" text-center text-sm text-gray-400">
                Already have an account?
                <a routerLink="/authentication/login"
                    class="text-emerald-400 hover:text-emerald-300 font-medium transition-colors">
                    Sign in
                </a>
            </p>
        </div>

    </form>
</div>
<p-toast></p-toast>