# Build
BUILD_CONFIGURATION=Release
ASPNETCORE_ENVIRONMENT=Production

# Images / versions
MSSQL_IMAGE_TAG=2025-latest
SEQ_IMAGE_TAG=latest
OTEL_COLLECTOR_VERSION=0.148.0
PROMETHEUS_VERSION=v3.10.0
GRAFANA_VERSION=12.3.5

# Ports
API_PORT=8080
FRONTEND_PORT=4200
MSSQL_PORT=1433
SEQ_PORT=5341
OTEL_GRPC_PORT=4317
OTEL_HTTP_PORT=4318
OTEL_METRICS_PORT=8889
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000

# SQL Server
MSSQL_SA_PASSWORD=examplePassword
BUILDHUB_CORE_DB=BuildHubCore
BUILDHUB_USERS_DB=BuildHubUsers
BUILDHUB_TEST_DB=BuildHubIntegrationTests

# Seq
SEQ_PASSWORD=examplePassword

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=examplePassword