<div class="min-h-screen w-full flex items-center justify-center">
  <form [formGroup]="loginForm" class="flex flex-col w-80 gap-4 p-5 login-container h-100 shadow-2xl"
    (ngSubmit)="onLogin()">
    <h1 class="text-center text-2xl font-semibold pb-8">Login</h1>
    <div class="credentials-control-group flex flex-col gap-6">
      <p-floatlabel>
        <input type="text" name="login-username" id="login-username" class="w-full" autocomplete="on"
          formControlName="userName" pInputText />
        <label for="login-username">Username</label>
      </p-floatlabel>
      <p-floatlabel>
        <p-password [toggleMask]="true" name="login-password" id="login-password" formControlName="password"
          [fluid]="true">
        </p-password>
        <label for="login-password">Password</label>
      </p-floatlabel>
    </div>
    <div class="flex items-center gap-x-2">
      <p-checkbox [binary]="true"></p-checkbox>
      <span class="text-white select-none">Remember me</span>
    </div>
    <div class="flex flex-col gap-4 mt-2">
      <button pButton type="submit">Login</button>
      <p class="text-center text-sm text-gray-400">
        Don't have an account?
        <a routerLink="/authentication/register"
          class=" text-emerald-400 hover:text-emerald-300 font-medium transition-colors">
          Register
        </a>
      </p>
    </div>
  </form>
</div>
<p-toast></p-toast>